// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.admin-container{
    width: 100%;
    min-height: 100vh;
    .admin-form{
        display: block;
        margin: auto;
        width: 30%;
        
    }

}
