// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-align-center {
    text-align: center;
}

.homepage {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.auth-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        width: 70%;
        max-width: 500px;
        min-width: 250px;
        flex-direction: column;
    }
}

.admin-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .table {
        width: 70%;
    }

    .admin-form {
        width: 30%;
    }

}

.waiting-room-container {
    display: flex;
    width: 100%;
    height: 100vh;

    .left-container-waiting-room {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;

        .link-dashboard-wainting-room {
            text-decoration: none;
            color: $black;

            &:hover {
                text-decoration: none;
                color: $black;
            }
        }
    }

    .right-container-waiting-room {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40%;
        background-color: $blue;
        color: $white;

        .container-mode-selection {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-modifier-mode {
            cursor: pointer;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $orange;
            padding: 10px;
            border-radius: 5px;
            transition: 0.2s;

            &:hover {
                transform: scale(1.1);
                transition: 0.2s;
            }

            .modifier-mode {
                width: 30px;
            }
        }

    }

    .waiting-room-menu {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;
        transition: 0.2s;

        &:hover {
            transition: 0.2s;
            transform: translateX(15px);
        }

        .arrow-left {
            margin-right: 10px;
        }
    }

    .start-game {
        background: $orange;
        border: 0px solid;
        border-radius: 10px;
        color: $white;
        padding: 10px 20px;
        border-radius: 3px;
        transition: 0.2s;

        &:hover {
            transform: scale(1.05);
            transition: 0.2s;
        }
    }
}



// POP UP

.pop-up-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);

    .fake-pop-up-container {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000094;
    }

    .pop-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        position: relative;
        padding: 40px 30px;
        background-color: $white;

        &.pop-up-chat {
            width: 40%;
        }
    }

    .container-join-input {
        margin-top: 20px;

        .btn-join {
            border: 0px;
            border-radius: 3px;
            background-color: $orange;
            padding: 7px 12px;
            transition: 0.2s;

            &:hover {
                transform: scale(1.1);
                transition: 0.2s;
                border: 0px;
                border-radius: 3px;
                background-color: $orange;
                padding: 7px 12px;
            }
        }

        .message-error {
            color: red;
        }
    }

    .input-code-game {
        border-radius: 4px;
        padding: 5px 10px;
        margin-right: 10px;
        border: 2px solid $orange;
        transition: 0.5s;
    }
}

.container-game {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white;
    background-color: black;

    .game-tchat {
        position: absolute;
        top: 20px;
        right: 20px;

        .game-tchat-style {
            cursor: pointer;
            width: 30px;
            transition: 0.3s;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }

        span {
            position: absolute;
            bottom: -5px;
            right: -5px;
            height: 20px;
            width: 20px;
            border: solid 2px $yellow;
            background-color: $yellow;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .link-dashboard {
        color: $orange;

        .btn-link-dashboard {
            font-size: 1rem;
            border: 2px solid $orange;
            border-radius: 3px;
            background-color: black;
            color: white;
            transition: 0.2s;
            padding: 5px 10px;

            &:hover {
                background-color: $orange;
                transition: 0.2s;
            }
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 15px;
        top: 15px;
        transition: 0.2s;

        &:hover {
            transition: 0.2s;
            transform: translateX(10px);
        }

        .arrow-left {
            margin-right: 10px;
        }
    }

    .question-game {
        text-align: center;
        font-size: 2rem;

        .question-game-btn {
            border: 3px solid white;
            border-radius: 3px;
            padding: 5px 15px;
            color: white;
            font-size: 1.2rem;
            background-color: black;
            transition: 0.3s;

            &:hover {
                background-color: white;
                color: black;
                transition: 0.3s;
            }
        }

        .color-winner {
            color: $orange;
        }
    }

    .container-players {
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        display: flex;
        position: fixed;
        bottom: 0;
        color: white;
        max-height: 50px;
    }

    .player-name {
        margin-left: 5px;
    }

    .progression-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: $white;
        transition: .4s ease;
    }
}

.container-parametre-parties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-code {
    border: 3px solid $orange;
    border-radius: 5px 0px 0px 5px;
}

.btn-code {
    background-color: $orange;
    color: $white;
    border: 3px solid $orange;
    border-radius: 0px 5px 5px 0px;
}

.container-beer-players {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .wait-players {
        text-align: center;
        font-size: 1.2rem;
    }
}

.else-player-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-beer {
    width: 200px;
    height: 200px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.animation-loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-top: 2px solid $orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: 1s infinite linear slidein;
}

@keyframes slidein {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.footer-piloco p {
    margin-bottom: 0px;
    text-align: center;
}

.button-game-mode-waiting-room {
    min-height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    max-width: 150px;
    width: 130px;
    background-color: $orange;
    transition: 0.2s;
}

.rootlink-modifier {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.link-to-join-game {
    color: $white;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.name-questions {
    text-align: center;

    button {
        // background-color: $blue;
        // border: 0px;
        // color: $white;
        // text-decoration: underline;
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        /* Couleur du texte */
        background-color: rgba(100, 100, 255, 0.5);
        /* Couleur de fond avec transparence */

        /* Effet de verre */
        border: 1px solid rgba(255, 255, 255, 0.5);
        /* Bordure transparente */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        /* Ombre douce */

        /* Transition pour un effet fluide */
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: rgba(100, 100, 255, 0.7);
        /* Changement de couleur au survol */
    }
}


.logout-btn {
    width: fit-content;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: $blue;
    color: $white;
    border: 2px solid $orange;
    border-radius: 3px;
    transition: 0.2s;

    &:hover {
        background-color: $orange;
        color: $white;
        transition: 0.2s;
    }
}

.title-proposer-question {
    text-align: center;
}

.name-player {
    color: $white;
    font-weight: bold;
}

.pop-up-add-question {
    min-width: 200px;
    width: 80%;
    max-width: 500px;

    .add-questions {
        width: 100%;
    }
}

.envoyer-question {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.name-email {
    display: flex;
    justify-content: space-between;

    .form-group {
        width: calc(50% - 10px)
    }
}

.password-password-confirm {
    display: flex;
    justify-content: space-between;

    .form-group {
        width: calc(50% - 10px)
    }
}

.btn-connexion-inscription {
    background-color: $blue;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 30px;
}


.chat-container {
    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .msg {
        display: flex;
        flex-direction: column;
        max-width: 100%;

        &.own-message {
            align-items: flex-end;

            .message-chat {
                background-color: grey;
            }
        }
    }

    .message-sent {
        border: 2px solid $yellow;
        background-color: $white;
        border-radius: 3px;
        color: black;
        margin-right: 5px;

        &::placeholder {
            color: black;
        }
    }

    .message-submit {
        color: white;
        border: 2px solid #F3B61F;
        border-radius: 3px;
        background-color: #F3B61F;
        transition: 0.2s;

        &:hover {
            background-color: white;
            color: black;
            transition: 0.2s;
        }
    }

    .user-name-chat {
        color: black;
        font-size: 0.5rem;
    }

    .message-chat {
        background-color: #F3B61F;
        border-radius: 5px;
        width: fit-content;
        padding: 5px 10px;
    }
}